html {
    position: relative;
    min-height: 100%;
    background-color: #3c6ee4 !important;
}

body {
    margin: 0 0 100px;
    padding: 25px;
}

footer {
    background-color: #f57474 !important;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

table {
    border-radius: 10px;
    box-shadow: 0 0 5px 4px #88888880;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

.fa-heart {
    color: darkred;
}

.fa-check {
    text-align: center;
    color: lightgreen;
    margin-left: 45px;
}