$Blue: 'rgba(116, 192, 252, 0.5)';
$Green: 'rgba(140, 233, 154, 0.5)';
$Red: 'rgba(255, 168, 168, 0.5)';
$Yellow: 'rgba(255, 224, 102, 0.5)';
$Gray: 'rgba(222, 226, 230, 0.5)';

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    font-size: larger;

    .arrow-back {
      flex: 1 1 auto;
      cursor: pointer;

      &::before {
        content: '\21FD';
      }
    }

    nav {
      flex: 1 1 auto;

      .navigation-item {
        padding-left: 1em;
        padding-right: 1em;
        cursor: pointer;

        &.active {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }

  .navigation-graph {
    align-self: center;
  }
}